[Unit]
Description=Ollama API Service (Public)
After=network.target

[Service]
ExecStart=/usr/bin/ollama serve --address 0.0.0.0:11434
Restart=always
User=ollama

[Install]
WantedBy=multi-user.target
